<h1>login to continue</h2>
<%= form_with model: @user, url: sessions_path, local: true do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit :submit %>
  </p>
<% end %>
<p>
  <label>If you don't have an account, click here <%= link_to 'Sign in', new_user_path %></label>
</p>
