<h1>Lunch Selection</h1>

<%= link_to 'Create new entry', new_meal_path %><br>
<%= link_to 'Select monthly entries', new_user_lunch_packages_path(current_user.id) %><br>
<%= link_to 'See peer packages list', users_path %><br>
<%= link_to 'Edit last monthly package', edit_user_lunch_packages_path(current_user.id) %><br>
<%= link_to 'Log out', session_path(current_user), method: :delete %>

<%= render 'meals' %>
