<%= form_with scope: :lunch_package, url: user_lunch_packages_path(current_user.id) , local: true do |f| %>
  <% if flash[:error] %>
    <h2>Error(s):</h2>
    <h2><%= flash[:error] %></h2>
  <% end %>
  <h3>Select 5 meals for your package</h3>
  <p>
    <%= f.label :meals %></br>
    <%= f.collection_select(:meals, Meal.all, :id, :name, { include_blank: false, include_hidden: false }, { multiple: true}) %> 
  </p>
  <h3>Select the date for that package</h3>
  <%= select_month(Date.today) %>
  <%= select_year(Date.today, :start_year => Date.today.year, :end_year => 8.years.from_now.year) %>
  <p>
    <%= f.submit :"save package" %>
  </p>
<%end%>
