<h1>Meals per user</h1>

<%= link_to 'Back', meals_path %>

<% @packages.each do |month, records| %>
  <h2><%= month %></h2>
  <% records.group_by(&:user).each do |user, meals| %>
    <h2> <%= user.name %> </h2>
    <ul>
      <% meals.each do |meal| %>
        <li> <%= meal.meal.name %></li>
        <%= image_tag(meal.meal.image, size: '200') %>
      <% end %>
    </ul>
  <% end %>
<% end %>
